@import "../../../scss/variables";

.header {
    position: fixed;
    top: 0;
    height: 124px;
    padding: 0 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    background: linear-gradient(180deg, $color-back-primary 0%, $color-back-primary 88.62%, rgba(11, 13, 25, 0) 100%);
    width: 100%;

    #navLine {
        content: '';
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 6px;
        max-height: 0;
        background: #0D101F;
        box-shadow: inset -2px -2px 3px rgba(35,33,58,.5), inset 2px 2px 3px rgba(0,2,12,.5), 5px 5px 30px rgba(54,38,66,.3), -5px -5px 30px rgba(4,5,14,.4);
        transition: $transition;
        transform: translateY(5px);
        z-index: -1;

        &.visible {
            opacity: 1;
            max-height: 6px;
            transform: translateY(0);
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 118px;
        margin-top: -10px;
        height: 57px;
        width: 215px;

        img {
            height: 57px;
            width: 215px;
        }
    }

    .nav {
        flex: 1 0 auto;
        height: 100%;

        &__list {
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__item {
            margin-right: 36px;
            height: 100%;

            a {
                font-size: 14px;
                line-height: 1.6;
                display: flex;
                align-items: center;
                height: 100%;
            }

            &.dropdown {
                position: relative;

                & > a {
                    padding-right: 15px;
                }

                & > a::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    margin-top: -5px;
                    top: 50%;
                    right: 0;
                    border-right: 1px solid $color-text-primary;
                    border-bottom: 1px solid $color-text-primary;
                    transform: rotate(45deg);
                    transition: $transition;
                }

                & > a:hover::after {
                    border-color: $color-accent
                }


            }
        }

        .dropsection {
            width: 100vw;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            padding: 49px 0 49px 425px;
            position: fixed;
            left: 0;
            transform: translateY(15px);
            transition: visibility 0s linear .3s, transform .3s ease-out, opacity .2s linear;
            opacity: 0;
            visibility: collapse;
            background-color: $color-back-primary;

            &_about {
                ul:nth-child(2) {
                    padding-left: 138px;
                }

                a { padding: 25px 0; }
            }
        }

        &__droplist {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            &:first-child {
                width: 292px;
                padding-left: 0;
            }

            &:nth-child(2) {
                width: 406px;
                padding-left: 96px;
                padding-right: 40px;
            }

            &:last-child {
                width: 300px;
                padding-left: 97px;

                &::after {
                    display: none;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 100%;
                max-height: 0;
                top: 0;
                right: 0;
                background: #0D101F;
                box-shadow: inset -2px -2px 3px rgba(35, 33, 58, 0.5),
                    inset 2px 2px 3px rgba(0, 2, 12, 0.5),
                    -5px -5px 30px rgba(54, 38, 66, 0.30),
                    5px 5px 30px rgba(4, 5, 14, 0.4);
                border-radius: 12px;
                transition: $transition;
            }

            li {
                transform: translateY(20px);
                opacity: 0;
                transition: all .3s;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition-delay: calc(#{$i} * 0.01s);
                    }
                }
            }
        }

        &__dropitem {
            color: $color-text-secondary;

            a {
                padding: 0;
                margin-bottom: 18px;
            }

            &_caption a {
                font-size: 18px;
                color: $color-text-primary;
                padding: 25px 0 40px;
                margin: 0;

                &:hover {
                    color: $color-accent;
                }
            }

        }

        .dropdown:hover {
            .dropsection {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: visibility 0s linear 0s, transform .3s ease-out, opacity .2s linear
            }

            .nav__droplist::after {
                max-height: 100%;
            }

            .nav__dropitem {
                transform: translateY(0);
                opacity: 1;
            }
        }


    }

    &__btns-group {
        display: flex;
        justify-content: flex-end;

        .btn_round {
            margin-right: 48px;
            justify-content: center;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}