section.section.section_wrap.delivery
    .container
        .row
            .col_3.delivery__caption
                h1.section__title Доставка
                .section__subtitle После оформления и оплаты заказа он передается на доставку. Сроки и способ доставки зависит от того, что конкретно нужно доставить. Выберите тип конструкции, чтобы узнать подробнее о сбособах его доставки
            .delivery__description
                .delivery__title Способы доставки
                .delivery__tabs
                    .btn-group
                        .btn-group__title Конструкция
                        .btn-group__btns
                            .btn.active Рамно-монолитная
                            .btn Кабинет
                            .btn Транспортный кофр
                            .marker
                    .tabs
                        .tabs__content.visible Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda delectus ipsa labore, laborum minima molestiae molestias nemo quaerat, quas quis quo quod quos suscipit vero. Autem harum quis totam!
                        .tabs__content Кабинеты — большие сборные элементы, каждый из которых упакован индивидуально. Конструкция кабинета защищена от повреждений,  а упаковка позволит избежать попадания грязи и пыли.
                        .tabs__content
                            | Транспортный кофр понадобится, если в дальнейшем планируется перевозка экрана с объекта на объект.
                            br
                            | Его мы не предоставляем в аренду, возможна только покупка целиком