section.feedback
    .container
        .row
            .col_6.feedback__caption
                h1.section__title Поможем подобрать оборудование

    form(action="/" method="POST").form
        .container
            .row
                .col_3
                    .form__controllers
                        label.form__group
                            span.form__title Как вас зовут?
                            span.form__name
                                input.form__contorller(placeholder="Константин Фролов" name="name")
                        label.form__group
                            span.form__title Номер телефона
                            span.form__phone
                                input.form__contorller(placeholder="+7 9XX-XXX-XX-XX" name="phone")

                .col_3
                    label.form__group
                        span.form__title Комментарий
                        span.form__comment
                            textarea.form__contorller(placeholder="Напишите что-нибудь" name="comment")

        .container
            .row.form__footer
                .col_3
                    .form__help Перезвоним в ближайшее время и расскажем обо всех особенностях реализации проектов. Рассчитаем смету и объясним алгорим работы
                .col_2
                    label.form__group.form__check
                        input(type="checkbox" checked)
                        span.checker
                        span.sign
                            | Отправляя запрос, я соглашаюсь на обработку моих
                            a(href="/" target="_blank") персональных данных
                .col_1
                    input.btn.btn_action.form__btn(type="submit" value="Следующий вопрос")
