@import "variables";

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

//- Make sticky footer
html, body {
    min-height: 100vh;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    color: $color-text-primary;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: $color-back-primary;

}

//- Typography
.h1, h1, .h2, h2, .h3, h3 {
    line-height: 1.4;
}
.h1, h1 { font-size: 24px; }
.h2, h2 { font-size: 20px; }
.h3, h3 { font-size: 14px; }

@media (min-width: $screen-tablet) {
    .h1, h1 { font-size: 60px; }
    .h2, h2 { font-size: 40px; }
    .h3, h3 { font-size: 24px; }
}

@media (min-width: $screen-desktop) {
    .h1, h1 { font-size: 60px; }
    .h2, h2 { font-size: 30px; }
    .h3, h3 { font-size: 24px; }
}

.header,
.footer { flex: none; }

.main { flex: 1 0 auto; }

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.container {
    max-width: 320px;
    padding: 0 24px;
} // 272px

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

@for $i from 1 through 4 {
    .col_#{$i} {
        position: relative;
        width: 100%;
        max-width: calc(100% / 4 * #{$i} - 16px);
        margin: 0 8px;
    }
}

@media (min-width: $screen-mobile) {

}

@media (min-width: $screen-tablet) {
    .container {
        max-width: 768px;
        padding: 0 48px;
    } // 672px

    .row { margin: 0 -12px; }

    @for $i from 1 through 6 {
        .col_#{$i} {
            max-width: calc(100% / 6 * #{$i} - 24px);
            margin: 0 12px;
        }
    }
}

@media (min-width: $screen-desktop) {
    .container {
        max-width:1920px;
        padding: 0 288px;
    } // 1344px

    .row { margin: 0 -48px; }

    @for $i from 1 through 6 {
        .col_#{$i} {
            max-width: calc(100% / 6 * #{$i} - 96px);
            margin: 0 48px;
        }
    }
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $color-text-primary;
    transition: $transition;

    &:hover {
        color: $color-accent
    }
}

//- Buttons
.btn,
a.btn,
button.btn,
input.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 30px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;

    &_round {
        width: 48px;
        height: 48px;
        padding: 0;
    }

    &_single {
        color: $color-accent;
        background: linear-gradient(343.22deg, #181932 -36.39%, #0F111E 72.73%);
        box-shadow: -14px -28px 30px rgba(35, 33, 58, 0.35), 14px 28px 30px rgba(4, 5, 14, 0.3);
    }
}




/*
// Controls
input {
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  //background-color: $color-secondery-font;
  text-align: left;
  //border: 1px solid $color-primary-font;
  //color: $color-primary-font;
  padding: .7rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;

  &::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
*/
