@import "variables";

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    border: none;
    padding: 0;
    outline: none !important
}

//- Make sticky footer
html, body {
    min-height: 100vh;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    color: $color-text-primary;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: $color-back-secondary;

}

//- Typography
.h1, h1, .h2, h2, .h3, h3 {
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
.h1, h1 { font-size: 24px; }
.h2, h2 { font-size: 20px; }
.h3, h3 { font-size: 14px; }

@media (min-width: $screen-tablet) {
    .h1, h1 { font-size: 60px; }
    .h2, h2 { font-size: 40px; }
    .h3, h3 { font-size: 24px; }
}

@media (min-width: $screen-desktop) {
    .h1, h1 { font-size: 60px; }
    .h2, h2 { font-size: 30px; }
    .h3, h3 { font-size: 24px; }
}

.header,
.footer { flex: none; }

.main {
    flex: 1 0 auto;
    padding: 91px 0;
    margin-top: 124px;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.container {
    //max-width: 320px;
    //padding: 0 24px;
    width: 272px;
} // 272px

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

@for $i from 1 through 4 {
    .col_#{$i} {
        position: relative;
        width: 100%;
        max-width: calc(100% / 4 * #{$i} - 16px);
        margin: 0 8px;
    }
}

@media (min-width: $screen-mobile) {

}

@media (min-width: $screen-tablet) {
    .container {
        width: 672px;
        //max-width: 768px;
        //padding: 0 48px;
    } // 672px

    .row { margin: 0 -12px; }

    @for $i from 1 through 6 {
        .col_#{$i} {
            max-width: calc(100% / 6 * #{$i} - 24px);
            margin: 0 12px;
        }
    }
}

@media (min-width: $screen-desktop) {
    .container {
        width: 1344px;
        //max-width:1920px;
        //padding: 0 288px;
    } // 1344px

    .row { margin: 0 -48px; }

    @for $i from 1 through 6 {
        .col_#{$i} {
            max-width: calc(100% / 6 * #{$i} - 96px);
            margin: 0 48px;
        }
    }
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $color-text-primary;
    transition: $transition;

    &:hover {
        color: $color-accent
    }
}

//- Buttons
.btn,
a.btn,
button.btn,
input.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 30px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;

    &_round {
        width: 48px;
        height: 48px;
        padding: 0;
    }

    &_single {
        color: $color-accent;
        background: linear-gradient(343.22deg, #181932 -36.39%, #0F111E 72.73%);
        box-shadow: -14px -28px 30px rgba(35, 33, 58, 0.35), 14px 28px 30px rgba(4, 5, 14, 0.3);
    }
}
.btn-group {
    display: flex;
    align-items: center;

    &__title {
        font-size: 18px;
        line-height: 1.6;
        color: $color-text-secondary;
        margin-right: 34px;
    }

    &__btns {
        position: relative;
        display: flex;
        border-radius: 999px;
        flex-direction: row;
        align-items: flex-start;
        padding: 4px;
        background: $color-back-primary;
        box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.35), 10px 10px 30px rgba(4, 5, 14, 0.55), inset -5px -6px 20px rgba(35, 33, 58, 0.3), inset 5px 6px 20px rgba(0, 2, 12, 0.5);
    }

    .btn {
        padding: 13px 26px;
        transition: $transition;
        z-index: 1;
        display: block;

        &:hover {
            color: $color-accent;
        }

        &.active {
            color: $color-accent;
        }

        &:first-child {
            left: 0;
        }

    }

    .marker {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        height: 100%;
        transition: $transition;

        background: #0D101F;
        border: 1px solid #0D101F;
        box-sizing: border-box;
        box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.16), 10px 10px 30px rgba(4, 5, 14, 0.8), inset 5px 6px 20px rgba(35, 33, 58, 0.5), inset -5px -6px 20px rgba(0, 2, 12, 0.2);
        border-radius: 34px;
    }
}
.btn_action {
    font-weight: 500;
    color: $color-text-primary;
    background: $color-accent;
    box-shadow: inset 5px 4px 10px rgba(49, 4, 38, 0.5), inset -2px -2px 30px rgba(255, 255, 255, 0.2);
    border: 2px solid $color-accent;
    padding: 12px 29px !important;
    height: auto;
    margin-top: 13px;
}

//- Controls
input,
.select,
textarea {
    display: inline-block;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    color: $color-accent;
    padding: 16px 34px;
    background: $color-back-primary ;
    box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.35), 10px 10px 30px rgba(4, 5, 14, 0.55), inset -5px -6px 20px rgba(35, 33, 58, 0.3), inset 5px 6px 20px rgba(0, 2, 12, 0.5);
    border-radius: 999px;
}

input {
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select {
    cursor: pointer;
}

textarea {
    padding: 12px 24px;
    resize: none;
    height: 253px;
    border-radius: 24px;
}

.control {
    &__group {
        display: flex;
        flex-direction: column;
    }

    &__wrap {
        display: flex;
        align-items: center;
        margin-bottom: 34px;
        position: relative;
    }

    &__caption {
        display: inline-block;
        width: 187px;
        font-size: 14px;
        line-height: 1.6;
        color: $color-text-secondary;
        margin-right: 34px;
    }

    &__container {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(35, 33, 58, 0.6);
            width: 2px;
            height: 28px;
            box-shadow: -1px -2px 4px rgba(35, 33, 58, 0.6), 1px 2px 4px rgba(4, 5, 14, 0.8);
            cursor: pointer;
        }

        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: transparent;
            border-right: 1px solid #463370;
            border-bottom: 1px solid #463370;
            position: absolute;
            left: 64px;
            top: 50%;
            transform: translateY(-5px) rotate(45deg);
            cursor: pointer;
        }

        .caption {
            display: block;
            position: absolute;
            line-height: 60px;
            top: 0;
            right: 34px;
            cursor: pointer;
            font-size: 14px;
            color: $color-text-secondary;
        }
    }

    &_price {
        input {
            width: 178px;
            padding-right: 70px;
        }
        &::after {
            left: 117px;
        }
        &::before {
            display: none;
        }
    }
    &_term {
        input { width: 169px; }
        &::after {
            left: 91px;
        }
    }
    &_payment {
        input { width: 154px; }
        &::after {
            left: 92px;
        }
    }
}

span.dash {
    display: inline-block;
    margin: 0 7px;
}

.form {
    width: 100%;

    &__controllers {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__contorller {
        width: 100%;
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 49px;
    }

    &__title {
        font-size: 18px;
        line-height: 1.6;
        color: $color-text-secondary;
        margin-bottom: 12px;
    }

    input {
        height: 80px;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: rgba(128, 117, 143, 0.5);
        padding-left: 92px;
    }

    textarea {
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.02em;
        color: rgba(128, 117, 143, 0.5);
        padding-left: 92px;
        padding-top: 20px;
        white-space: initial;
        overflow: auto;
    }

    &__name,
    &__phone,
    &__comment {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 12px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__name::before {
        background-image: url("/img/icon-name.svg");
    }

    &__phone::before {
        background-image: url("/img/icon-phone.svg");
    }

    &__comment::before {
        background-image: url("/img/icon-txt.svg");
    }

    &__help {
        font-size: 14px;
        line-height: 1.6;
        color: $color-text-secondary;
    }

    &__check {
        cursor: pointer;
        padding-left: 31px;
        font-size: 14px;
        line-height: 1.6;
        color: $color-text-secondary;

        .checker {
            width: 22px;
            height: 22px;
            background: $color-accent;
            box-shadow: inset -1px -1px 2px rgba(35, 33, 58, 0.3), inset 1px 1px 5px rgba(0, 2, 12, 0.8);
            border-radius: 4px;
            position: absolute;
            left: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("/img/icon-check.svg") no-repeat 4px center;
                opacity: 0;
                transition: $transition;
            }
        }

        .sign a {
            color: $color-accent;
            display: inline-block;
            margin-left: 5px;

            &:hover {
                color: inherit;
            }
        }
    }

    &__btn {
        float: right;
        height: 46px !important;
        font-size: 14px !important;
        color: #d9d9d9 !important;
        margin-top: 0;
    }

    &__footer {
        margin-top: -7px !important;
    }
}

input[type="checkbox"] {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}
input[type="checkbox"]:checked + .checker::before {
    opacity: 1;
}


input, textarea {
    &::-webkit-input-placeholder {
        color: $color-text-inactive;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    &::-moz-placeholder {
        color: $color-text-inactive;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    &:-moz-placeholder {
        color: $color-text-inactive;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    &:-ms-input-placeholder {
        color: $color-text-inactive;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    &:focus::-webkit-input-placeholder {
        color: $color-text-inactive;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:focus::-moz-placeholder {
        color: $color-text-inactive;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:focus:-moz-placeholder {
        color: $color-text-inactive;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:focus:-ms-input-placeholder {
        color: $color-text-inactive;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}